 *{
    margin:0;
    padding:0;
    font-family:'Poppins',sans-serif;
    box-sizing:border-box;
}
.main{
    width: 100%;
    min-height:100vh;
    background:linear-gradient(135deg,#c081fc,#95c0ff);
    color:white;
    padding-top:4%;
    padding-left:10%;
}
.main h1{
    display:flex;
    align-items:center;
    font-size:40px;
    font-weight:600;
}
.main h1 img{
    width: 60px;
}
.main button{
    align-items:center;
    background: linear-gradient(#9418fd,#571094);
    color:white;
    font-size: 16px;
    outline: 0;
    border:0;
    border-radius: 40px;
    padding: 15px 25px;
    margin:30px 0 20px;
    cursor:pointer;
    /* font-weight: bold; */
    font-size: 19px;
}
.input{
    position:relative;
    width:100%;
    max-width:600px;
    min-height:150px;
    background: white;
    color:black;
    padding:20px;
    margin:20px 0;
    outline: none;
    border-radius: 5px;
}
.input img{
    width:25px;
    position: absolute;
    bottom: 15px;
    right:15px;
    cursor: pointer;
}
.to-dos button{
    display:flex;
    align-items:center;
    background: linear-gradient(#9418fd,#571094);
    color:white;
    font-size: 16px;
    outline: 0;
    border:0;
    border-radius: 40px;
    padding: 15px 25px;
    margin:30px 0 20px;
    cursor:pointer;
    position: absolute;
    top:15%;
    right:60%;
    font-weight: bold;
}
.to-dos button img{
    width:50px;
    height: 40px;
    padding-left: 5px;

}